.input-component {
    display: flex;
    align-items: center;
    width: 500px;
    margin: 0;
    padding: 0;

    span:first-child {
        width: 20%;
    }
    &__star--require {
        color: red;
    }
    &__input {
        height: 28px;
        flex-grow: 1;

        
        border-radius: 4px;
        outline: none;
    }
}