.row {
  display: flex;
  margin: 0;
  padding: 0;

  font-size: 12px;
  line-height: 16px;

  &__title {
    color: #818C99;
  }

  &__num {
    font-weight: 500;
    color: #31B984;
  }

  &__currency {
    display: inline-block;
    margin-left: 4px;
  }

  &__separator {
    display: inline-block;
    flex-grow: 1;
    margin: 0 8px;

    opacity: 0.2;
    border-bottom: 1px dashed #818C99;
  }

}
