.input-number {
    display: flex;
    width: 500px;
    align-items: center;

    span:first-child {
        width: 20%;
    }

    &__star--require {
        color: red;
    }

    &__input-wrapper {
        display: flex;
        flex-grow: 1;
    }

    &__input {
        margin-right: 10px;
    }

    &__buttons-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__plus, &__minus {
        color: #8d7f7f;
        border: none;
    }

    &__plus {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &__minus {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    &__plus--disabled, &__minus--disabled {
        color: #dedede;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    }
}